.server-connection {
  /* Центрирование по вертикали и горизонтали с учётом отступов body (50px сверху и снизу) */
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: red;
}
