* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div,
button {
  -webkit-tap-highlight-color: transparent;
}

button {
  color: inherit;
  cursor: pointer;
}

button, input, textarea {
  border: none;
  font-size: inherit;
  background-color: #fff;
  outline: none;
}

ul, ol {
  list-style-type: none;
}

body {
  padding: 50px;
  background-color: #eaf6ff;
}

#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.hidden {
  display: none;
}
